<!--
==============================================
; Title: web-425 Capstone Loan-App
; Author: Chad ONeal
; Date: 02/23/2023
; Description: about.component.html
==============================================
-->

<!--section to hold photo of piggy-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img alt="money exchanging hands"src="../assets/loan.jpg"/>
      </div>
    </div>
  </div>

  <!--section for about Loan-App-->
  <div fxFlex>
    <h1>Who is Loan-App?</h1>
    <p>
      Welcome to Loan-App, the financial tool that's so easy to use, you'll feel like a Wall Street tycoon in no time. (And if you're already a Wall Street tycoon, well,
      Loan-App will make you feel like a super Wall Street tycoon!) With Loan-App, you can estimate your monthly payments and total interest paid faster than you can say
      "compound interest." <br><br>All you need to do is input the loan amount, interest rate, and number of years, click the calculate button and BAM! You'll have your
      very own monthly payment and total interested paid.<br><br>And let's not forget about the best part: Loan-App is completely free! That's right, no hidden fees or
      sneaky charges. You can use Loan-App to your heart's content, without worrying about breaking the bank. <br><br>But wait, there's more! (Because what's a financial
      product without more?) Loan-App is also so user-friendly, you won't need a degree in finance to use it. Heck, you won't even need a degree in basket weaving
      (although that would be impressive). So, whether you're taking out a loan for a new car, a fancy vacation, or a down payment on a house, Loan-App has got your back. It's the loan calculator that's more fun than
      counting all your pennies, and more accurate than a psychic predicting your financial future.
      So go ahead, check out Loan-App and see for yourself! Your wallet will thank you (and maybe even take you out for a fancy dinner).
    </p>

  </div>
</div>
