/*
============================================
, Title: app.component.css for loan-app
; Author: Chad ONeal
; Date: 02/23/2023
; Description: css styling for loan-app
===========================================
*/


/* stylings for piggy pic top left of page
*/
.logo {
  margin-top: 100px;
}

img {
  height: 158px;
  margin-left: -21%;
  margin-top: 2%;
}

/* stylings for the container on the page
*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

/* stylings for the address and phone numbers
*/
.mat-toolbar {
  background-color:#2A623D;
  height: 160px
}

button {
  font-size: 34px;
  color:#AAAAAA;
}

.nav {
  width: 80%;
  margin-top: 97px;
  margin-left: 10%;
}


